html{
    scroll-padding-top: 12rem;
}
/*Header.jsx*/
.main{
    position: fixed;
    top: 0;
    height: 150px;
    margin:0;
    width: 100%;
    background-color: rgb(202, 202, 202);
    box-shadow: 0px 0px 40px rgba(0, 110, 255, 0.822);
    z-index: 20000;

}
.main ul{
    text-align: center;
}
.main ul img{
    margin-top: 45px;
    float: left;
    width: 65px;
}
.main ul p{
    float: left;
    margin-top: 50px;
    margin-right: 40px;
    padding-left: 20px;
    font-family:monospace;
    font-weight: bold;
    font-size: 25px;
    color: #5a7ccc;
    text-shadow: 0px 1px 4px rgb(0, 255, 200);
}
.main ul div{
    margin-right: 30px;
}
.main ul li{
    display: inline-block;
    list-style: none;
    margin-top: 45px;
    margin-right: 60px;
    text-decoration: none;
    font-family:monospace;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 0px 1px 4px rgb(0, 255, 200);
}
.main ul li a{
    color: rgb(0, 110, 255);
    text-decoration: none;
    transition: 1s;
}
.main ul li a:hover{
    transition: 0.7s;
    background-color: rgb(168, 168, 168);
    padding: 20px;
    border-radius: 20px;
}
.main ul .su{
    background-color: #5a7ccc;
    border:#5a7ccc;
    float: right;
    margin-top: 50px;
    font-size: 18px;
    
}
.main ul .su:hover{
    background-color: #5d87e9;
}
.main ul .si{
    background-color: rgb(0, 110, 255);
    border: rgb(0, 110, 255);
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 18px;
}
.main ul .si:hover{
    background-color: rgb(34, 130, 255);
}
/*Main.jsx*/
/*about*/
.about hr{
    border: 3px solid rgb(0, 162, 255);
    margin-top: 130px;
}
.about h1{
    margin-top: 200px;
    text-align: center;
    color: #174170;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about-us{
    
    height: 230px;
    border-radius: 2900px;
    margin: 40px;
}
.about-us p{
    width: 1220px;
    color: rgb(0, 99, 124);
    font-size: 30px;
    font-weight: bold;
    margin: auto;
    text-align: center;
}
.about-us a{
    text-decoration: none;
}
/*phones*/
.phones h1{
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 100px;
    color:rgb(34, 130, 255) ;
}
.main-phone{
    display: flex;
    justify-content: center;
}
.main-phone h2{
    font-weight: bold;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#174170;

}
.ph{
    width: 450px;
    margin: 40px;
    height: 400px;
    border: rgb(34, 130, 255) solid 2px ;
    box-shadow: 0px 0px 30px rgba(0, 110, 255, 0.822);
    border-radius: 20px;
    transition: 0.8s;
}
.ph:hover{
    transition: 0.8s;
    cursor: pointer;
    width: 500px;
    border: rgb(34, 130, 255) solid 3px ;
    height: 450px;
    box-shadow: 0px 20px 20px rgba(0, 110, 255, 0.822);
}
.main-phone p{
    display: none;
    font-size: 20px;
    margin-left: 10px;
    color: gray;
    width: 500px;
    text-align: center;
}
/*contact*/
.contact hr{
    border: 3px solid rgb(0, 162, 255);
    margin-top: 130px;
}
.contact h1{
    text-align: center;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 40px;
    color:#542fda ;
}
.contact form{
    text-align: center;

}
.contact span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #704ee9;
    font-size: 20px;
    margin-bottom: 20px;
}
.contact input{
    margin-bottom: 20px;
    width: 250px;
    text-align: center;
    color: #5d87e9;
    transition: 0.5s;
}
.contact input:hover{
    transition: 0.5s;
    border: solid 2px rgb(114, 30, 192) ;

}
.contact textarea{
    text-align: center;
    transition: 0.5s;
}
.contact textarea:hover{
    transition: 0.5s;
    border: solid 2px rgb(114, 30, 192) ;

}
.contact .subco{
    margin-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #704ee9;
    font-size: 20px;
}
.contact .subco:hover{
    padding: 5px;

}
/*footer*/
.footer{
    background-color: rgb(163, 192, 255);
    margin-top: 100px;
    box-shadow: 0px 0px 40px rgba(0, 110, 255, 0.822);
    height: 329px;
}
.part1{
    float: left;
    margin: 100px 200px;
    text-align: center;
}
.part2{
    margin: 30px 200px;
    float:right;
    text-align: center;
}
.det{
    color: #174170;
    font-size: 25px;
    text-decoration: none;
}
.social-ic{
    margin: 15px;
}